################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/BusProArchitecture/FileContentIndex/248278a4-1637-458c-bfd2-e2739ee123ce.vsidx
/.vs/BusProArchitecture/FileContentIndex/269ccfec-bd67-4f57-86d6-48aac5a7bb01.vsidx
/.vs/BusProArchitecture/FileContentIndex/650ff017-1011-4029-baf8-6a1587f53858.vsidx
/.vs/BusProArchitecture/FileContentIndex/a4554264-d679-4635-a61a-ab95c7e1ff3d.vsidx
/.vs/BusProArchitecture/FileContentIndex/f2648622-ef17-4bdd-8300-7b9162e63e25.vsidx
