################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/BusProArchitecture/FileContentIndex/248278a4-1637-458c-bfd2-e2739ee123ce.vsidx
/.vs/BusProArchitecture/FileContentIndex/269ccfec-bd67-4f57-86d6-48aac5a7bb01.vsidx
/.vs/BusProArchitecture/FileContentIndex/650ff017-1011-4029-baf8-6a1587f53858.vsidx
/.vs/BusProArchitecture/FileContentIndex/a4554264-d679-4635-a61a-ab95c7e1ff3d.vsidx
/.vs/BusProArchitecture/FileContentIndex/f2648622-ef17-4bdd-8300-7b9162e63e25.vsidx
/.vs/BusProArchitecture/FileContentIndex/3fe1c1de-03a5-4cb5-9789-ec19e5289486.vsidx
/.vs/BusProArchitecture/FileContentIndex/68e0c202-0e59-481e-bc6d-8f7df3ee3b2e.vsidx
/.vs/BusProArchitecture/FileContentIndex/6d696460-70e4-4459-95e9-bbb0506ca735.vsidx
/.vs/BusProArchitecture/FileContentIndex/cf370e0d-1c89-4a7c-9002-708792c5d263.vsidx
/.vs/BusProArchitecture/FileContentIndex/eb47b3cd-ed5e-4300-a09c-5c51cc8e08c9.vsidx
/.vs/BusProArchitecture/FileContentIndex/f6806f2a-18a3-4bb2-83a9-34207a5c026b.vsidx
